@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("./Pretendard-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  src: url("./Pretendard-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("./Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "RegularBoldCelloGX";
  font-weight: 700;
  src: url("./RegularBoldCelloGX.ttf") format("ttf");
}
